/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Carmen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {

  /* variables */
  --page-padding: 1rem 2rem;
  --content-padding: .5rem 1rem;
  --mobile-padding: .5rem;
  --primary-font: 1rem/1.4rem 'Poppins', sans-serif;

  --primary-color: #211f1e;
  --secondary-color: #ff7b29;
  --color-on-hover: #ff5126;

  --primary-border: .0625rem solid var(--primary-color);
  --secondary-border: .0625rem solid rgba(18, 42, 105, .08);
  --primary-border-radius: .5rem;

  --primary-shadow: 0 2px 6px rgba(18, 43, 105, .04), 0 1px 2px rgba(18, 43, 105, .08), 0 0 0 1px rgba(18, 43, 105, .08);
  --shadow-on-hover: 0 2px 6px rgba(18, 43, 105, .12), 0 1px 2px rgba(18, 43, 105, .12), 0 0 0 1px rgba(18, 43, 105, .08);

  --text-margin: 1rem;
  --section-margin: 4rem;

  /* page properties */
  scroll-behavior: smooth;
  color: var(--primary-color);
  font: 1rem/1.4rem 'Poppins', sans-serif;
}

body {
  margin: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  width: 9.3875rem;
  height: .3125rem;
  border: 0;
  border-top: .1875rem solid var(--primary-color);
  margin: 0 0 1rem 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   !Author's custom styles
   ========================================================================== */

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
==========================================================================
   TYPOGRAPHY
==========================================================================
*/

h1,
h2 {
  font: bold 2.125rem/3rem 'Poppins', sans-serif;
  margin: 0;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.5rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.875rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: #ff7b29;
  }
}

/* 
==========================================================================
   MODULES
==========================================================================
*/

.headers {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}

header {
  padding: var(--page-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--text-margin);

  .navigation {
    width: 67%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  & .nav-link,
  .footer-nav-links {
    margin-left: .9375rem;
    margin-right: .9375rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
    display: block;
  }

  .footer-nav-links {
    color: #fff;
    margin-bottom: var(--text-margin);
  }

  & .footer-nav-links:hover {
    color: #ff7b29;
  }

  & .nav-link:last-child {
    margin-right: 0;
  }
}


.line-link {
  border-bottom: .07142857rem solid #cecfd5;
  transition: all .15s linear;
  color: #0087cc;
}

.card {
  border: .0625rem solid rgba(18, 42, 105, .08);
  border-radius: var(--primary-border-radius);
  width: 67%;
  margin: 1rem 0 3rem 0;
  box-shadow: var(--primary-shadow);
}

img {
  width: 100%;
  height: 29rem;
  object-fit: cover;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

article {
  font: var(--primary-font);
  padding: var(--content-padding);
  line-height: 1.5rem;
  margin-bottom: .8rem;
}

.paragraph {
  width: 63%;
  text-align: center;
}

.interactions {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--text-margin);
}

.address-input,
textarea {
  width: 63%;
  opacity: .7;
  font: inherit;
  transition: box-shadow .3s;
  padding: var(--content-padding);
  box-shadow: var(--primary-shadow);
  border-radius: var(--primary-border-radius);
  border: .0625rem solid rgba(18, 42, 105, .08);

  &:hover,
  &:active,
  &:focus {
    outline: none;
    box-shadow: var(--shadow-on-hover)
  }
}

.button {
  width: 35%;
  color: #fff;
  background: #ff7b29;
  border: .0625rem solid #ff7b29;
  border-radius: var(--primary-border-radius);
  padding: var(--content-padding);
  font: inherit;
  transition: all .15s linear;

  &:hover {
    cursor: pointer;
    background: var(--color-on-hover);
    border: .0625rem solid var(--color-on-hover);
  }
}

textarea {
  min-height: 10.625rem;
  width: 35%;

  /* Allow only vertical resizing of textareas. */
  resize: vertical;
}

footer {
  background-color: var(--primary-color);
  color: #fff;

  .footer-text {
    opacity: .7;
    font-size: .9375rem;
    margin-top: 0;
    text-align: center;
  }
}

.to-page-top {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  margin: var(--text-margin);
}

.social-button {
  width: 100%;
  margin-bottom: var(--text-margin);
}

/* 
==========================================================================
   LAYOUT
==========================================================================
*/

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--page-padding);
  margin-top: var(--text-margin);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 22.5rem) and (max-width: 64rem) {

  /* Style adjustments for viewports that meet the condition */

  html {
    font: .875rem/1.5rem 'Poppins', sans-serif;
  }

  h1,
  h2 {
    font: bold 1.5rem/2rem 'Poppins', sans-serif;
    margin: 0;
  }

  h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
  }

  h4 {
    font-size: 1.4rem;
  }

  header {
    padding: var(--mobile-padding);

    .navigation {
      width: 94%;
    }
  }

  .content-wrapper {
    padding: .5rem;
  }

  img {
    height: 15rem;
  }

  .card {
    width: 95%;
  }

  hr {
    width: 6.5rem;
    margin-bottom: .5rem;
  }

  .paragraph {
    width: 100%;
  }

  .interactions {
    width: 95%;
  }

  .address-input {
    width: 75%;
  }

  .button {
    width: 30%;
    margin-left: .5rem;
  }

  textarea {
    width: 95%;
  }

  .to-page-top {
    font-size: 1.3rem;
  }

  .social-button {
    width: 100%;
  }

}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}